body {
  margin: 0;
  padding: 20px 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 
 * Globals
 */
* {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 1.8rem;
  box-sizing: border-box;
  outline: 0;
}

/* 
 * Posts app
 */
.posts-wrapper {
  width: 100%;
  max-width: 540px;
  margin: 20px auto;
  padding: 0 20px;
}
.posts-wrapper > img {
  margin: 10px 0 20px 0;
}

/* 
 * Post
 */
.posts-post {
  margin: 0 0 40px 0;
  padding: 0 0 18px 0;
  border-bottom: 1px solid #eeeeee;
}
.posts-post img {
  max-width: 100%;
  margin: 0;
  transition: all 0.5s ease;
  transform: scale(1.01) rotate(0deg);
}
.posts-post h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 26px;
  line-height: 2.6rem;
  padding: 0;
  margin: 0 0 5px 0;
}
.posts-post .date {
  color: #999999;
  font-size: 12px;
}
.posts-post p {
  color: #333333;
  padding: 0;
  margin: 0 0 12px 0;
}

.posts-post a {
  color: #333333;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: none;
  margin: 10px 0;
  padding: 0;
  background: none !important;
  transition: all 0.5s ease;
}
.posts-post a:hover {
  color: #cc0000;
}
.posts-post figure {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 10px 0;
  overflow: hidden;
}
.posts-post a:hover img {
  transform: scale(1.2) rotate(5deg);
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}
.posts-post:nth-child(even) a:hover img {
  transform: scale(1.2) rotate(-5deg);
}

/* 
 * Posts navigation
 */
.posts-post-nav {
  width: 100%;
  display: flex;
  flex-flow: collumn;
  margin-bottom: 30px;
}
.posts-post-nav button {
  display: block;
  width: 80px;
  padding: 4px 10px 4px 10px;
  background: none;
  border: solid 3px #cc0000;
  background: #cc0000;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
  font-family: "Poppins";
  font-weight: 800;
  font-size: 26px;
}
.posts-post-nav button:hover {
  background: #ffffff;
  color: #cc0000;
}
.posts-post-nav p {
  flex-grow: 1;
  text-align: center;
  padding: 0;
  margin: 5px 0 0 0;
  color: #999999;
}
